.container	{
	width: 1080px;
	margin: auto;
	position: relative;
	padding: 0 1px;
}
#dialog	{
	position: relative;
	top: 50px;
	margin: auto;
	background-color: #FFF;
	padding: 0 0 15px; 0;
}
#boxtitle	{
	background-color: #BBB;
}
body	{
	font-family: arial;
	font-size: 81.25%;
	background-color: #EEE;
}
div	{
	display: block;
}
ul	{
	margin: 0 0 1em 2em;
}
a	{
	text-decoration: none;
	color: #FFF;
}	
#nav 	{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 35px;
	width: 100%;
}
#nav li	{
	border-left: 1px solid #FFF;
	font-size: 14px;
	margin: 0;
	padding: 0 20px;
	color: #FFF;
	height: 35px;
	line-height: 35px;
	display: inline-block;
}	
#nav ul	{
	height: 35px;
	list-style-type: none;
	display: inline-block;
	padding: 0;
	margin: 0;
}	
#nav .color	{
	background-color: #0f8bc0;
}
#pic	{
	min-height: 200px;
}
footer	{
	background-color: #DBB714;
	position: fixed;
	top: 92%;
	left: 0;
	right: 0;
	text-align: center;
}
